@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,600;1,400;1,600&display=swap');
html{
    font-size: 100%;
}
nav, header, section, footer{
    min-width: 320px;
    max-width: 1366px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
    margin: 0 auto;
	background-color: lightgrey;
}
ul{
	list-style-type: none;
	font-family: Rubik,Georgia, 'Times New Roman', Times, serif;
	font-weight: 400;
	font-size: 1.414rem;
}
/* typography */
h1{
	font-family: Fredoka, Arial, Helvetica, sans-serif;
	font-weight: 600;
	font-size: 5.653rem;
	
}
h2{
	font-family: Fredoka, Arial, Helvetica, sans-serif;
	font-weight: 600;
	font-size: 3.998rem;
}
h3{
	font-family: Fredoka, Arial, Helvetica, sans-serif;
	font-weight: 600;
	font-size: 2.827rem;
}
h4{
	font-family: Fredoka,Arial, Helvetica, sans-serif;
	font-weight: 600;
	font-size: 1.999rem;
}
p{
	font-family: Rubik, Georgia, 'Times New Roman', Times, serif;
	font-weight: 400;
	font-size: 1.414rem;
	line-height: 1.688rem;
}
label, input{
	font-family: Rubik, Georgia, 'Times New Roman', Times, serif;
	font-weight: 400;
	font-size: 1rem;
}
a{
	text-decoration: none;
	color: #00312A;
}
a:hover{
	color: #04a15e;
}
a:active{
	color: #04a15e;
}
a:visited{
	color: #df6061;
}
/* temp styles */
h1, h2,
header, p {
  background-color: powderblue;
  margin-bottom: 8px;
}
.abf-wrapper{
    background-color: pink;
}
div{
	padding: 10px;
}
/* navigation bars */
nav ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #00312A;
}
nav li{
	float: left;
}
nav li a{
	display: block;
	color: #f6f1dd;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
/* buttons */
.subscribe-button {
	-webkit-border-radius: 8;
	-moz-border-radius: 8;
	border-radius: 8px;
	-webkit-box-shadow: 0px 4px 7px #666666;
	-moz-box-shadow: 0px 4px 7px #666666;
	box-shadow: 0px 4px 7px #666666;
	font-family: Fredoka,Arial, Helvetica, sans-serif;
	color: #f6f1dd;
	font-size: 20px;
	background: #3ac6b3;
	padding: 14px 27px 14px 27px;
	text-decoration: none;
}
.subscribe-button:hover {
	background: #04a15e;
	color: #f6f1dd;
	text-decoration: none;
}
.subscribe-button:active {
	position:relative;
	top:1px;
}
.cta-button{
	-webkit-border-radius: 8;
	-moz-border-radius: 8;
	border-radius: 8px;
	-webkit-box-shadow: 0px 4px 7px #666666;
	-moz-box-shadow: 0px 4px 7px #666666;
	box-shadow: 0px 4px 7px #666666;
	font-family: Fredoka, Arial, Helvetica, sans-serif;
	color: #f6f1dd;
	font-size: 20px;
	background: #3ac6b3;
	padding: 14px 27px 14px 27px;
	text-decoration: none;	
}
.cta-button:hover{
	background: #04a15e;
	text-decoration: none;
}
.cta-button:active{
	position:relative;
	top:1px;
}
.learn-button{
	-webkit-border-radius: 4;
	-moz-border-radius: 4;
	border-radius: 4px;
	-webkit-box-shadow: 0px 1px 3px #666666;
	-moz-box-shadow: 0px 1px 3px #666666;
	box-shadow: 0px 1px 3px #666666;
	font-family: Fredoka, Arial, Helvetica, sans-serif;
	color: #00312a;
	font-size: 20px;
	padding: 14px 27px 14px 27px;
	border: solid #00312a 2px;
	text-decoration: none;
	
}
.learn-button:hover{
	background: #00312a;
	color: #f6f1dd;
	text-decoration: none;
}
.learn-button:active{
	position:relative;
	top:1px;
}
.return-button{
	height: 12px;
    width: 12px;
	border-left: 2px solid #f6f1dd;
	border-top: 2px solid #f6f1dd;
	transform: translateY(25%) rotate(45deg);
}
.return-button:hover{
	border-left: 2px solid #00312a;
	border-top: 2px solid #00312a;
}
/* wrappers */
.soil-wrapper{
    background-color: forestgreen;
}
.herbs-wrapper{
    background-color: crimson;
}
.materials-wrapper{
    background-color: darkorange;
}
.bcb-wrapper{
    background-color: #ffb95d;
}
.video-wrapper{
    background-color: antiquewhite;
}
.crafts-wrapper{
    background-color: cornflowerblue;
}
.cta-wrapper{
    background-color: aquamarine;
}
/* cards & image carosels */
.herbs-cards ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.herbs-cards li{
	display: inline;
	float: left;
	text-align: center;
	padding: 14px 16px;
}
.bcb-wrapper{
	box-sizing: border-box;
}
.carousel-container{
	max-width: 1000px;
	position: relative;
	margin: 2rem auto;
	overflow: hidden;
	background-color: aqua;
}
.num-text{
	padding: 8px 12px;
	position: absolute;
	top: 0;
}
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: #04A15E;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
  }
.prev:hover,
.next:hover {
  background-color: #ffb95d;
}
.slide_text{
	position: absolute;
	text-align: center;
	bottom: 8px;
	width: 100%;
}
/* media queries */
@media only screen and (max-width: 400px){
	header{
		background-image: url(/images/hero_image_mobile.jpg);
	}
}