@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,600;1,400;1,600&display=swap');
html{
    font-size: 100%;
}
nav, header, section, footer{
    min-width: 320px;
    max-width: 1366px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
    margin: 0 auto;
	background-color: lightgrey;
}
ul{
	list-style-type: none;
	font-family: Rubik,Georgia, 'Times New Roman', Times, serif;
	font-weight: 400;
	font-size: 1.414rem;
}
/* typography */
h1{
	font-family: Fredoka, Arial, Helvetica, sans-serif;
	font-weight: 600;
	font-size: 5.653rem;
}
h2{
	font-family: Fredoka, Arial, Helvetica, sans-serif;
	font-weight: 600;
	font-size: 3.998rem;
}
h3{
	font-family: Fredoka, Arial, Helvetica, sans-serif;
	font-weight: 600;
	font-size: 2.827rem;
}
h4{
	font-family: Fredoka,Arial, Helvetica, sans-serif;
	font-weight: 600;
	font-size: 1.999rem;
}
p{
	font-family: Rubik, Georgia, 'Times New Roman', Times, serif;
	font-weight: 400;
	font-size: 1.414rem;
}
label, input{
	font-family: Rubik, Georgia, 'Times New Roman', Times, serif;
	font-weight: 400;
	font-size: 1rem;
}

/* temp styles */
h1, h2,
header, p {
  background-color: powderblue;
  margin-bottom: 8px;
}
.abf-wrapper{
    background-color: pink;
}
div{
	padding: 10px;
}
/* buttons */
.subscribe-button {
	-webkit-border-radius: 8;
	-moz-border-radius: 8;
	border-radius: 8px;
	-webkit-box-shadow: 0px 4px 7px #666666;
	-moz-box-shadow: 0px 4px 7px #666666;
	box-shadow: 0px 4px 7px #666666;
	font-family: Fredoka,Arial, Helvetica, sans-serif;
	color: #f6f1dd;
	font-size: 20px;
	background: #3ac6b3;
	padding: 14px 27px 14px 27px;
	text-decoration: none;
}
.subscribe-button:hover {
	background: #04a15e;
	text-decoration: none;
}
.subscribe-button:active {
	position:relative;
	top:1px;
}
.cta-button{
	-webkit-border-radius: 8;
	-moz-border-radius: 8;
	border-radius: 8px;
	-webkit-box-shadow: 0px 4px 7px #666666;
	-moz-box-shadow: 0px 4px 7px #666666;
	box-shadow: 0px 4px 7px #666666;
	font-family: Fredoka,Arial, Helvetica, sans-serif;
	color: #f6f1dd;
	font-size: 20px;
	background: #3ac6b3;
	padding: 14px 27px 14px 27px;
	text-decoration: none;	
}
.cta-button:hover{
	background: #04a15e;
	text-decoration: none;
}
.cta-button:active{
	position:relative;
	top:1px;
}
/* wrappers */
.soil-wrapper{
    background-color: forestgreen;
}
.herbs-wrapper{
    background-color: crimson;
}
.materials-wrapper{
    background-color: darkorange;
}
.bcb-wrapper{
    background-color: goldenrod;
}
.video-wrapper{
    background-color: antiquewhite;
}
.crafts-wrapper{
    background-color: cornflowerblue;
}
.cta-wrapper{
    background-color: aquamarine;
}

/* media queries */
@media only screen and (max-width: 400px){
	header{
		background-image: url(/images/hero_image_mobile.jpg);
	}
}